maek-cache.json
objs/
spv/
bin/*
.vs
img/
CppProperties.json
glfw-3.4.bin.WIN64/
x64/
*.vcxproj*
*.sln
*.ppm
*.png
scenes/
*.html
report/
scripts/
*.txt
checkImage.cpp
/bin/viewer.exe
/bin/viewer.pdb
